.buttons {
    list-style: none;
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    cursor: default;
    letter-spacing: 0;
    padding: 0;
    text-align: center;
}

.buttons .button:hover {
    border-color: #f4ed6b !important;
    color: #f4ed6b !important;
}

.main {
    justify-content: center;
}

.buttons:not(:last-child) {
    margin-bottom: 2.125rem !important;
}

.buttons:not(:first-child) {
    margin-top: 0rem !important;
}

.button {
    background: url('/imgs/back_texture.png') repeat;
    color: #fff;
    border: solid 2px #9d7901;
    text-decoration: none;
    display: inline-block;
    width: 12.0rem;
    height: 4.125rem;
    line-height: calc(4.125rem - 2px);
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons li:nth-child(odd) .button{
    background: url('/imgs/back_texture3.png') repeat !important; 
}

.button-content {
    background: url('/imgs/back_texture.png') repeat;
    color: #fff;
    border: solid 2px #9d7901;
    text-decoration: none;
    display: inline-block;
    width: 14.0rem;
    height: 4.125rem;
    line-height: calc(4.125rem - 2px);
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
}


.buttons li {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    text-align: justify;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url('/imgs/background.jpg');
    /*font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "terminus";
    font-size: 1.6em;
}

h1,
h2 {
    text-anchor: middle;
    /*font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "monomials";
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
    text-align: left;
}


.header {
    width: 100%;
    text-align: justify;
    margin-top: 1em;

}

.footer {
    width: 100%;
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
    background: url('/imgs/splatter3.png') left no-repeat;
}

.moss {
    position: fixed;
    width: 10%;
    margin: auto;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;


}

.splash {
    border-radius: 5px;
    background: url('/imgs/laid_paper_dirty.jpg') top center;
    background-color: transparent;
    margin: 10px;
    padding: 1em;
    box-shadow: 1px 2px 5px #444;
    border: 0.5px solid color(srgb 0.69 0.6225 0.5451);
    max-width: 1000px;
    justify-content: center;
}

hr {
    width: 80%;
    height: 5px;
    border: 0px;
    opacity: 0.3;
    border-radius: 2px;
    background: linear-gradient(to right, black, rgb(185, 1, 1), rgb(255, 255, 0), rgb(0, 255, 213), rgb(0, 127, 0), black);
}

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    opacity: 0.9;
}

@font-face {
    font-family: "monomials";
    src: url("/fonts/Monomials.ttf");
}

@font-face {
    font-family: "terminus";
    src: url("/fonts/TerminusTTF-4.49.3.ttf");
}

.wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('/imgs/splatter2_big.png') no-repeat;
}


.inner {
    padding-left: 30px;
    padding-right: 30px;
}


.sticker-break {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 110px;
}

.sticker {
    position: relative;
    top: -100px;
}


.clippy {
    position: relative;
    top: -58px;
    right: -10px;
    opacity: 0.7;
}

.texture-number {
    opacity: 0.4;
    mix-blend-mode: darken;
    margin-top: -30;
    margin-right: -60px;
}

@media (max-width: 1024px) {
    .inner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .buttons {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3rem;
    }

    .button {
        padding: 1.5rem 0.0rem;
    }

    .buttons li a {
        width: 100%;
    }

    body {
        font-size: 2.0em;
    }

    .clippy {
        top: -69px;
    }
}

@media (max-width: 570px) {
    .sticker-break {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }

    .sticker {
        width: auto;
        height: auto;
        top: 0px;
    }

    .texture-number {
        display: none;
    }
}

.content {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.logo {
    background: url('/imgs/splatter5.png') no-repeat;
}

.resource-item {
    margin-bottom: 60px;
    margin-top: 60px;
}

.sparkle {
    position: relative;
    left: 0px;
    bottom: 33px;
    mix-blend-mode: plus-darker;
    opacity: 0.9;
}

.ministry {
    display: flex;
    width: 100%;
}

.ministry-text {
    -webkit-mask-image: linear-gradient(80deg, #000 0%, #000 39.9%, transparent 40%, #000 40.2%, #000 45%, transparent);
    /*mask-image: linear-gradient(70deg, black, transparent);*/
    mask-image: linear-gradient(80deg, #000 0%, #000 39.9%, transparent 40%, #000 40.2%, #000 45%, transparent);
    

    left: -154px;
    width: 90%;
    position: relative;
    text-align: left;
    opacity: 0.7;
    mix-blend-mode: plus-darker;
}

p {
    line-height: 1.5em;
}

.printed-hr {
    opacity: 0.8;
    margin-bottom: 30px;
    margin-top: -20px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.footer-hr {
    opacity: 0.8;
    margin-bottom: 30px;

    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
