.buttons {
    list-style: none;
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;

    cursor: default;

    letter-spacing: 0;
    padding: 0;
    text-align: center;
}

.main {
    justify-content: center;
}

.buttons:not(:last-child) {
    margin-bottom: 2.125rem !important;
}

.buttons:not(:first-child) {
    margin-top: 0rem !important;
}

.button {
    background-color: #000000;
    color: #fff;
    border: solid 2px #9d7901;

    display: inline-block;
    width: 12.0rem;
    height: 4.125rem;
    line-height: calc(4.125rem - 2px);
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 0rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

.center {
    display: block;
    margin-left: auto;
    text-align: justify;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url('/imgs/background.jpg');
    /*font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "terminus";
    font-size: 1.6em;
}

h1,
h2 {
    text-anchor: middle;
    /*font-family: "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "monomials";
    fill: #1C143B;
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
}


.header {
    width: 100%;
    text-align: justify;
    margin-top: 1em;

}

.footer {
    width: 100%;
    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
    background: url('/imgs/splatter3.png') left no-repeat;
}

.moss {
    position: fixed;
    width: 10%;
    margin: auto;
    margin: 0px;
    padding: 0px;
    opacity: 0.5;


}

.splash {
    border-radius: 5px;
    background: url('/imgs/laid_paper_dirty.jpg') top center;
    background-size: 100% 50%;
    background-color: transparent;
    margin: 10px;
    padding: 1em;
    box-shadow: 1px 2px 5px #444;
    border: 0.5px solid color(srgb 0.69 0.6225 0.5451);
    max-width: 1000px;
    justify-content: center;
}

hr {
    width: 80%;
    height: 5px;
    border: 0px;
    opacity: 0.3;
    border-radius: 2px;
    background: linear-gradient(to right, black, rgb(185, 1, 1), rgb(255, 255, 0), rgb(0, 255, 213), rgb(0, 127, 0), black);
}

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    opacity: 0.9;
}

@font-face {
    font-family: "monomials";
    src: url("/fonts/Monomials.ttf");
}

@font-face {
    font-family: "terminus";
    src: url("/fonts/TerminusTTF-4.49.3.ttf");
}

.wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('/imgs/splatter2_big.png') no-repeat;
}

.inner {
    padding-left: 30px;
    padding-right: 30px;
}

.content {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.logo {
    background: url('/imgs/splatter5.png') no-repeat;
}

.resource-item {
    margin-bottom: 60px;
    margin-top: 60px;
}

.sparkle {
    position: relative;
    left: 0px;
    bottom: 33px;
}

.ministry {
    display: flex;
}

.ministry-text {
    left: -40px;
    position: relative;
    text-align: left;
}